/*Color de fons de la pagina web*/
body {
    background-color: lightblue;
    font-family: 'Poppins', sans-serif;
}

/*Afecta a tot el que hi ha dins de nav*/
nav {
    background-color: black;
    padding: 10px;
}

/*Només afecta la llista dins del nav.*/
nav li {
    display: inline;
    margin-right: 15px;
}

/*Afecta cada element de la llista.*/
nav a {
    color: white;
    text-decoration: none;
}

/*Afecta a els enllaços, es a dir al posar el ratoli a sobre es cambia el color*/
nav a:hover {
    color:yellow;
}

/*PRESENTACIÓ*/
footer {
    margin: 0;
    background-color: grey;
    color: white;
    text-align: center;
    padding: 20px;
}
/* El border-radius fa que les imatges siguin rodones*/
footer img {
    width: 40px;
    margin: 10px;
    border-radius: 50%;
}

main section {
    margin-bottom: 30px;
}
main img {
    max-width: 70%;
    border-radius: 10px;
}

/*TRIVIAL*/
/*De manera de fault es veu aixi*/
.resposta {
    padding: 10px;
    border: 1px solid black;
    margin: 10px 0;
    cursor: pointer;
}
/*Si es correcte es veu aixi*/
.resposta-correcta {
    background-color: green;
    color: white;
}
/*Si es incorrecte es veu aixi*/
.resposta-incorrecta {
    background-color: red;
    color: white;
}


/*CONTACT*/
label {
    display: block;
}
/*De manera de fault es veu aixi*/
input {
    border: 2px solid black;
    background-color: lightsteelblue;
}

/*Per a que hi hagi una mica de separació*/
input, label {
    margin: 0.4rem 0;
}
/*Si es correcte es veu aixi*/
.input-correcto {
    border: 2px solid green;
    background-color: rgb(224, 252, 224);
}
/*Si es incorrecte es veu aixi*/
.input-incorrecto {
    border: 2px solid red;
    background-color: rgb(250, 211, 211);
}